<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- creating a form for the app that guesses the number -->
    <form>
        <label for="num1">Input the first number:</label>
        <input type="number" name="num1" required>

        <label for="num2">Input the second number:</label>
        <input type="number" name="num2" required>

        <label for="num3">Input the third number:</label>
        <input type="number" name="num3" required>

        <button type="submit">Compare It!</button>
    </form>
</body>
</html>