<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')}}"
    />
  </head>
  <body>
    <main>
      <form>
        <div class="form-group">
          <label for="num1">Input the first number:</label>
          <input type="number" name="num1" required />
        </div>

        <div class="form-group">
          <label for="num2">Input the second number:</label>
          <input type="number" name="num2" required />
        </div>

        <div class="form-group">
          <label for="num3">Input the third number:</label>
          <input type="number" name="num3" required />
        </div>

        <button type="submit">Compare It!</button>
      </form>
      <div class="message">
        The largest number is: <strong>0</strong>
      </div>
    </main>
  </body>
</html>
